body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #eee;
}

td, th {
  /*border: 1px solid #999;*/
  padding: 0.5rem;
}

th {
	font-family: Helvetica, sans-serif;
}

tr {
    font-family: Helvetica, sans-serif;
}

tr.r1, tr.r2, tr.r3 {
	background: rgba(255,0,0,0.25);
}

tr.r4, tr.r5, tr.r6 {
    background: rgba(0,255,0,0.25);;
}