@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}

body {
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: #eee;
}

.page-header > h2, .page-header > h6 {
    text-align: center;
}

.page-header {
    margin: 20px 0 10px;
}

.row > .col-xs-1, .row > .col-xs-2, .row > .col-xs-3 {
    white-space: nowrap;
}

.panel > .arrive-color1 {
    background-color: rgba(163,225,244,0.1);
}

.panel > .arrive-color2 {
    background-color: rgba(163,225,244,0.2);
}

.panel > .arrive-color3 {
    background-color: rgba(163,225,244,0.3);
}

.panel > .arrive-color4 {
    background-color: rgba(163,225,244,0.4);
}

.panel > .arrive-color5 {
    background-color: rgba(163,225,244,0.5);
}

.panel > .arrive-color6 {
    background-color: rgba(163,225,244,0.6);
}

.panel > .arrive-color7 {
    background-color: rgba(163,225,244,0.7);
}

.panel > .arrive-color8 {
    background-color: rgba(163,225,244,0.8);
}

.panel > .arrive-color9 {
    background-color: rgba(163,225,244,0.9);
}

.panel > .arrive-color10 {
    background-color: rgba(163,225,244,1.0);
}

.route1, .route2, .route3 {
    color: red;
}

.route4, .route5, .route6 {
    color: green;
}
