$def with (stations)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TrainTime</title>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="../assets/css/arrivals.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">

      <div class="page-header">
        <h2>Train status</h2>
        <h6>Click a row to expand timetable</h6>
      </div>

      <div class="panel-group" id="trains-accordion">
      $ collapse_id=0
      $for station in stations:
        <th colspan="3"><h4>$station.name<small> <a href="../trains">Choose other stations</a></small></h4></th>
        $for train in station.trains:
          $ collapse_id=collapse_id+1
          <div class="panel panel-default">
            <div class="panel-heading arrive-color$train.arrival_estimate_class">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#trains-accordion" href="#collapse$collapse_id">
                  <div class="row">
                    <div class="col-xs-1 route$train.route">$train.unicode_route</div>
                    <div class="col-xs-3 col-sm-2">$train.arrival_string</div>
                    <div class="col-xs-8 col-sm-9">$train.status_string</div>
                  </div>
                </a>
              </h4>
            </div>
            <div id="collapse$collapse_id" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table table-hover">
                $for stop in train.upcoming_stops:
                  <tr class="row timetablerow">
                    <td class="col-xs-4"><a href="../trains/$stop.stop_id">$stop.stop_name</a></td>
                    <td class="col-xs-3 text-center">$stop.arrival_time</td>
                    <td class="col-xs-3">$stop.arrival_string</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>